<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Нейро+</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" type="text/css"/>
</head>
<body>
<section th:replace="fragments/topPanelControl :: panel" />
<section class="center">
    <div class="content_box">
        <div class="table_entry_control_panel">
            <button id="buttonAdd" class="button_panel">Добавить</button>
            <button id="buttonOpenWindowDelete" class="button_panel">Удалить</button>
        </div>
        <form id="servicesForm" th:action="@{/services/delete}" method="post">
            <table >
                <caption>
                    <h4>Услуги</h4>
                </caption>
                <thead>
                <tr>
                    <th>Название</th>
                    <th> Продолжительность, мин</th>
                    <th> Цена, руб </th>
                </tr>
                <thead/>
                <tbody th:each="service:${serviceList}">
                <tr>
                    <td>
                        <input type="radio" id="*{service.getId()}" name="serviceId" th:value="*{service.getId()}"  />
                        <label for="*{service.getId()}" th:text="*{service.getName()}"></label>
                    </td>
                    <td>
                        <label th:text="*{service.getDuration()}"></label>
                    </td>
                    <td>
                        <label th:text="*{service.getPrice()}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <dialog id="modalAddWindow">
        <div class="div_h">
            <h1> Добавить услугу</h1>
        </div>
        <form id="serviceAddForm"  th:action="@{/services/add}" method="post" th:object="${serviceAddForm}"  >
            <div class="div_input">
                <label>Название:</label><input id="name_input" name="name"  th:field="*{name}" placeholder="Название"  required/>
                <label>Продолжительность:</label><input id="duration_input" name="duration"   th:field="*{duration}" placeholder="Продолжительность"  required/>
                <label>Цена:</label><input id="price_input" name="price"  th:field="*{price}" placeholder="Цена"  required/>
            </div>
            <div class="table_entry_control_panel">
                <button class="button_panel" id="buttonAddService">Добавить</button>
                <button class="button_panel" id="buttonModalAddWindowClose">Отменить</button>
            </div>
        </form>
    </dialog>
    <dialog id="modalDeleteWindow">
        <p> Удалить сервис?</p>
        <div class="table_entry_control_panel">
            <button class="button_panel" id="buttonDeleteService">Удалить</button>
            <button class="button_panel" id="closeModalDeleteWindowBtn">Отменить</button>
        </div>
    </dialog>
    <script  type="module"  th:src="@{js/servicesViewJS.js}"></script>
</section>
</body>
</html>