<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Нейро+</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" type="text/css"/>
</head>
<body>
<section class="top" th:fragment="panel">
    <div class="top_person_box">
        <div>
            <p th:text="${personName}"></p>
        </div>
        <div  class="menu_box">
            <button class="menu">Меню</button>
            <div class="menu_content">
                <a th:href="@{/login}"> Cменить пользователя </a>
                <a th:href="@{/users}"> Пользователи </a>
            </div>
        </div>
    </div>
    <div class="button_form">
        <form class="button_form" th:action="@{/services}" th:method="get">
            <button class="top_button">
                Услуги
            </button>
        </form>
        <form class="button_form" th:action="@{/employees}" th:method="get">
            <button class="top_button">
               Сотрудники
            </button>
        </form>
        <form class="button_form">
            <button class="top_button">
                Клиенты
            </button>
        </form>
        <form class="button_form">
            <button class="top_button">
                Записать
            </button>
        </form>
    </div>
</section>
</body>
</html>