<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Нейро+</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" type="text/css"/>
</head>
<body>
<section class="card_center">
    <div class="card">
        <form id="deleteUserForm" th:action="@{/users}" th:method="post" th:object="${userDTO}">
            <div>
                <label th:text="${userDTO.getPersonName()}"></label>
            </div>
            <div>
                <label th:text="${userDTO.getLogin()}"></label>
            </div>
            <div>
                <input type="radio" id="One" name="drone" value="1" checked />
                <label for="One">One</label>
            </div>
            <div>
                <input type="radio" id="Two" name="drone" value="2" checked />
                <label for="Two" th:text="${userDTO.getLogin()}"></label>
                <label for="Two" th:text="${userDTO.getPersonName()}"></label>
            </div>
        </form>
        <div class="table_entry_control_panel">
            <button id="showDialogButton" class="button_panel">Удалить</button>
            <button id="Button" class="button_panel">Отменить</button>
        </div>
    </div>
    <dialog id="modalDelete">
        <p> Модальное окно</p>
        <div class="table_entry_control_panel">
            <button id="buttonDelete">Удалить</button>
            <button id="buttonClose">Отменить</button>
        </div>
    </dialog>
    <script>
         const showDialogBtn = document.querySelector('#showDialogButton');
         const myDialog = document.querySelector('#modalDelete');
         const closeDialogBtn = document.querySelector('#buttonClose');

         showDialogBtn.addEventListener('click', () => {
               myDialog.showModal();
         });


         closeDialogBtn.addEventListener('click', () => {
         myDialog.close();
         });
   </script>
</section>
</body>
</html>