<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Нейро+</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" type="text/css"/>
</head>
<body>
<section th:replace="fragments/topPanelControl :: panel" />
<section class="center">
    <div class="content_box">
        <div class="table_entry_control_panel">
            <form class="button_form" th:action="@{/registration}" th:method="get">
                <button class="button_panel">
                    Добавить
                </button>
            </form>
            <button id="showDialogButtonForUsers" class="button_panel">Удалить</button>
        </div>
        <form id="userDeleteFormForUsers"  th:action="@{/userDelete}" method="post" >
            <table >
                <caption>
                    <h4>Пользователи</h4>
                </caption>
                <thead>
                <tr>
                    <th>Имя</th>
                    <th> Логин</th>
                    <th> Роль </th>
                </tr>
                <thead/>
                <tbody th:each="person:${listPersons}">
                <tr>
                    <td>
                        <input type="radio" id="*{person.getUserId()}" name="userId" th:value="*{person.getUserId()}"  />
                        <label for="*{person.getUserId()}" th:text="*{person.getPersonName()}"></label>
                    </td>
                    <td>
                        <label th:text="*{person.getLogin()}"></label>
                    </td>
                    <td>
                        <label th:text="*{person.getRole()}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <dialog id="modalDeleteWindowForUsers">
        <p> Удалить пользователя?</p>
        <div class="table_entry_control_panel">
            <button class="button_panel" id="buttonDeleteForUsers">Удалить</button>
            <button class="button_panel" id="buttonCloseForUsers">Отменить</button>
        </div>
    </dialog>
    <script  type="text/javascript" th:src="@{js/usersViewJS.js}"></script>
</section>
</body>
</html>