<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Нейро+</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" type="text/css"/>
</head>
<body>
<section th:replace="fragments/topPanelControl :: panel" />
<section class="center">
    <div class="content_box">
        <div class="table_entry_control_panel">
            <button id="buttonAdd" class="button_panel">Добавить</button>
            <button id="buttonOpenClientCard" class="button_panel">Карточка клиента</button>
        </div>
    </div>
</section>
<dialog id="modalAddWindow">
    <div class="div_h">
        <h2> Добавить клиента</h2>
    </div>
    <form id="clientAddForm"  th:action="@{/client/add}" method="post" th:object="${clientAddForm}">
        <div class="div_input">
            <label>Клиент:</label><input id="name_input" name="name"  th:field="*{name}" placeholder="ФИО клиента"  required/>
            <label>Дата рождения:</label><input id="dateOfBirthday_input" type="date" name="dateOfBirth"  th:field="*{dateOfBirthday}" placeholder="Дата рождения"  required/>
            <div class="div_h">
                <h3> Контакты</h3>
            </div>

        </div>
    </form>
    <div class="table_entry_control_panel">
        <button class="button_panel" id="buttonAddClient">Добавить</button>
        <button class="button_panel" id="buttonModalAddWindowClose">Отменить</button>
    </div>
</dialog>
<script  type="module"  th:src="@{js/clientsViewJS.js}"></script>
</body>
</html>