<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Нейро+</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" th:href="@{css/stylesLogin.css}" type="text/css"/>
</head>
<body>
</section>
<section class="center">
    <div class="identification">
        <h2>
            Зарегистрируйтесь
        </h2>
        <div class="div_error" th:if="${error}"> </div>
        <form onsubmit="return submitFunction(event)" th:action="@{/registration}" method="post" th:object="${userForm}" >
            <select name="role" th:field="*{role}" id="role">
                <option th:each="role:${roleList}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
            </select>
            <div class="input">
                <div class="div_error" id="nameError"> </div>
                <input id="name_input" name="name" placeholder="Имя "  th:field="*{personName}" style="width: 400px; height: 50px;font-size:30px" required/>
            </div>
            <div class="input">
                <input name="login" placeholder="Имя пользователя"  th:field="*{login}" style="width: 400px; height: 50px;font-size:30px" required/>
            </div>
            <div class="input">
                <input type="password" id="password" name="password" placeholder="Пароль"  th:field="*{password}" style="width: 400px; height: 50px;font-size:30px" required/>
            </div>
            <div class="input">
                <input type="password" id="confirm_password" name="passwordRepeat" placeholder="Повторно пароль" style="width: 400px; height: 50px;font-size:30px"/>
            </div>
            <div class="input">
                <input id="submitButton" type="submit" disabled value="Зарегистрироваться" style="width: 400px; height: 50px;font-size:30px"/>
            </div>
           </form>
        <div class="input">
            <a th:href="@{/login}"> Войти </a>
        </div>
    </div>
        <script th:inline="javascript" type="text/javascript">
            $("#confirm_password").on("keyup", function() {
              var value_input1 = $("#password").val();
              var value_input2 = $("#confirm_password").val();
              if(value_input1 != value_input2) {
                  $("#submitButton").attr("disabled",true);
                  $(".error").html("Пароли не совпадают!");
                  $("#submit").attr("disabled", "disabled");
                } else {
                      $("#submitButton").attr("disabled",false);
                      $("#submit").removeAttr("disabled");
                      $(".error").html("");
                    }
            });

            function ValidPersonName(){
              var namePattern = /^[а-яА-ЯёЁa-zA-Z ]+$/;
              var name = $("#name_input").val();
              var valid = namePattern.test(name);
              if(valid){
                $("#nameError").text("");
              } else {
                    $("#nameError").text("Не корректное имя");
                }
              return valid;
            }

            function submitFunction(e){
               if(ValidPersonName()){
               return;
               }
               e.preventDefault();
            }
        </script>
</section>
</body>