<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Нейро+</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" type="text/css"/>
</head>
<body>
<section th:replace="fragments/topPanelControl :: panel" />
<section class="center">
    <div class="content_box">
        <div class="table_entry_control_panel">
            <button id="buttonAdd" class="button_panel">Добавить</button>
            <button id="buttonOpenEmployeeCard" class="button_panel">Карточка сотрудника</button>
        </div>
        <form id="employeesForm" th:action="@{/employeeCard}" method="get">
            <table >
                <caption>
                    <h4>Сотрудники</h4>
                </caption>
                <thead>
                <tr>
                    <th>ФИО</th>
                </tr>
                <thead/>
                <tbody th:each="employee:${employeeList}">
                <tr>
                    <td>
                        <input type="radio" id="*{employee.getId()}" name="employeeId" th:value="*{employee.getId()}"/>
                        <label for="*{employee.getId()}" th:text="*{employee.getName()}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</section>
<dialog id="modalAddWindow">
    <div class="div_h">
        <h2> Добавить сотрудника</h2>
    </div>
    <form id="employeeAddForm"  th:action="@{/employees/add}" method="post" th:object="${employeeAddForm}">
        <div class="div_input">
            <label>Сотрудник:</label><input id="name_input" name="name"  th:field="*{name}" placeholder="ФИО сотрудника"  required/>
        </div>
    </form>
    <div class="table_entry_control_panel">
        <button class="button_panel" id="buttonAddEmployee">Добавить</button>
        <button class="button_panel" id="buttonModalAddWindowClose">Отменить</button>
    </div>
</dialog>
<script  type="module"  th:src="@{js/employeesViewJS.js}"></script>
</body>
</html>